@charset "UTF-8";
#posts td {
	padding-left:40px;
	padding-right:40px;
	padding-bottom:40px;
}
#posts caption {
	padding: 10px;
	caption-side:bottom;
}
#post {
	width: 80%;
}
#post td {
	height: 30px;
}
#post caption {
	padding: 10px;
	caption-side:bottom;
}
#posting {
	width: 80%;
}

form[name=search_post] {
	text-align:center;
}
form[name=post] input[type=text] {
	width: 100%;
}
form[name=comment] input[type=text] {
	width:90%;
}